{%extends 'base.html' %}

{%block title %}
Страница входа
{%endblock%}

{%block body %}
<div class="conteiner mt-5">
    <h1>Создать аккаунт</h1>
    <form method="post">
        <input type="hidden" name="var" id="var" value = "{{ user }}">
        <input type="text" name="name" id="username" class="form-control"><br>
        <input type="text" name="surname" id="password" class="form-control"><br>
        <input type="date" name="date" id="date" class="form-control"><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form>
</div>
{%endblock%}